################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQConnection/.sonarqube
/RabbitMQConnection/.sonarlint
/.sonarqube
